name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test_integration:
    name: Test integration
    runs-on: ubuntu-latest
    steps:
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.85.0
          override: true
          components: rustfmt, clippy

      - name: Check out code
        uses: actions/checkout@v2

      - name: Install deps
        run: sudo apt-get install make

      - name: Test
        run: make test_integration

  test_grotsky:
    name: Test Grotsky
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.85.0
          override: true
          components: rustfmt, clippy

      - name: Install deps
        run: sudo apt-get install make

      - name: Test basic functionality
        run: make test_grotsky-rs
      - name: Test coverage
        run: make run_coverage_tests
      - name: Test embed
        run: make run_embed_test
      - name: Test network
        run: make run_net_test
